@model ProductViewModel

<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a asp-controller="Home" asp-action="Index"><i class="fi-rs-home mr-5"></i>Home</a>
            <span></span> Shop <span></span> @Model.Name
        </div>
    </div>
</div>
<div class="container mb-30">
    <div class="row">
        <div class="col-xl-10 col-lg-12 m-auto">
            <div class="product-detail accordion-detail">
                <div class="row mb-50 mt-30">
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">
                                @foreach (var picture in Model.StockPictureUrls)
                                {
                                    <figure class="border-radius-10">
                                        <img src="@picture" alt="product image" />
                                    </figure>
                                }
                            </div>
                            <!-- THUMBNAILS -->
                            <div class="slider-nav-thumbnails">
                                @foreach (var picture in Model.StockPictureUrls)
                                {
                                    <div><img src="@picture" alt="product image" /></div>
                                }
                            </div>
                        </div>
                        <!-- End Gallery -->
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-info pr-30 pl-30">
                            <h2 class="title-detail">@Model.Name</h2>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <span class="current-price text-brand">$@Model.Price</span>
                                    @*<span>
                                        <span class="save-price font-md color3 ml-15">26% Off</span>
                                        <span class="old-price font-md ml-15">$@Model.Price</span>
                                    </span>*@
                                </div>
                            </div>
                            <div class="short-desc mb-30">
                                <p class="font-lg">@Model.ShortDescription</p>
                            </div>
                            <div class="detail-extralink mb-50">
                                <div class="product-extra-link2">
                                    <a asp-controller="Cart" asp-action="AddBasketItem" asp-route-id="@Model.Id" class="button button-add-to-cart" style="width: 200px; background-color: #3BB77E;"><i class="fi-rs-shopping-cart"></i>Add to cart</a>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" asp-controller="Wishlist" asp-action="AddWishlistItem" asp-route-id="@Model.Id"><i class="fi-rs-heart"></i></a>
                                </div>
                            </div>
                            <div class="font-xs">
                                <ul class="mr-50 float-start">
                                    <li class="mb-5">Type: <span class="text-brand">Organic</span></li>
                                    <li class="mb-5">MFG:<span class="text-brand"> @Model.CreatedTime</span></li>
                                    <li>LIFE: <span class="text-brand">70 days</span></li>
                                </ul>
                                <ul class="float-start">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">@Model.SubCategory.Name</a></li>
                                    <li>Stock:<span class="in-stock text-brand ml-5">@Model.Stock Items In Stock</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Detail Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>